@page
@using System.Web
@model ProcessingModel
@{
    ViewData["Title"] = "Processing";
}
<meta http-equiv="refresh" content="2">

<div class="">
    <h1 class="display-4">Processing your purchase</h1>

    <p>This is where the app will configure any upgrade settings. Please wait a moment...</p>

    <img src="https://cdnjs.cloudflare.com/ajax/libs/galleriffic/2.0.1/css/loader.gif" />
</div>



